{% extends "index.html" %}

{% block title %} <title>Gerador de CPF</title> {% endblock %}

{% block nav_list %}
    <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item">
                    
                    <a href="{{ url_for('render_index') }}" class="nav__link">Home</a>
                </li>
                <li class="nav__item">
                    <a href="{{ url_for('render_geradordecpf') }}" class="selected" class="nav__link">Gerador de Cpf</a>
                </li>
                <li class="nav__item">
                    <a href="{{ url_for('render_geradordesenha') }}" class="nav__link">Gerador de Senha</a>
                </li>
                <li class="nav__item">
                    <a href="{{ url_for('render_validarcpf') }}" class="nav__link">Validador de Cpf</a>
                </li>
            </ul>
        </nav>
{% endblock%}

{% block content %}

<form action="/gerarcpf" method="POST">
   <p id="cpf"> {{ cpf_str or '' }} </p><br>
    Com formatação?<input class="checkbox" type="checkbox" name="checkbox" value="1"><br>
    <input type="submit" value="Gerar">
</form>

{% endblock %}


