<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} <title>Home</title> {% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>
    <header class="header">CABEÇALHO</header>
    <div class="main">

        <aside>
            <nav class="nav">
                <ul>
                    <li><a href="{{ url_for('render_validarcpf') }}">Validador de CPF</a></li>
                    <li><a href="{{ url_for('render_geradordecpf') }}">Gerador de CPF</a></li>
                    <li><a href="{{ url_for('render_geradordesenha') }}">Gerador de senha</a></li>
                </ul>
            </nav>
        </aside>

        <section class="content">
            {% block content %}
            Está página faz parte do trabalho final da máteria "ALGORITMOS E ESTRUTURA DE DADOS I" proposto pelo Professor Marcelo Rego.
            A página foi criada usando A Micro-Framework "flask" para formar a base e o Back-End, jinja2 para criação de Templates, CSS para estilização simples 
            Os alunos envolvidos na criação foram: Antony Reis, Guilherme Melo e Igor Rocha.
            {% endblock %}</section>
    </div>
    <footer class="footer">Desenvolvido por ...</footer>
</body>

</html>